<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Iniciar sesión</title>
  <script>

  var miVariable = "{{ error }}"; // Asegúrate de colocar el nombre correcto de la variable de Flask
  
  // Verificar si la variable tiene el valor "alog"
  if (miVariable === "1") {
    // Mostrar una alerta en HTML

    alert("Ese usuario ya existe");
  }
  </script>
</head>
<body>
  <form action="/login" method="post">
    <h2>Iniciar sesión</h2>
    <label for="usuario">Usuario:</label>
    <input type="text" id="usuario" name="username" required>
    <label for="contrasena">Contraseña:</label>
    <input type="password" id="contrasena" name="password" required>
    <button type="submit" name="userlog" value="login">Iniciar</button>
    <button type="submit" name="userlog" value="crear">Crear cuenta</button>
    <br>
  </form>
  </body>
</html>
